@model IEnumerable<KudosDash.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard</h1>

@if (!User.IsInRole("Admin"))
    {
    <h3>Feedback from your team!</h3>
    }
<table class="table">
    <thead>
        <tr>
            @if(User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TargetUser)
                </th>
                }
            <th>
                @Html.DisplayNameFor(model => model.FeedbackDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackText)
            </th>
            @if (User.IsInRole("Manager"))
                {
                <th></th>
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                <td>
                    @item.Author
                </td>
                <td>
                    @* @item.Users.Where(u => u.Id == item.TargetUser).First().FirstName *@
                </td>
                } 
            <td>
                @item.FeedbackDate
            </td>
            <td>
                @item.FeedbackText
            </td>
            @if (User.IsInRole("Manager")) 
            {
            <td>
                <form method="post">
                    <a class="btn btn-success" asp-action="ManagerApprove" asp-route-id="@item.Id">Approve</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </form>
             </td>
            }
        </tr>
}
    </tbody>
</table>
