@model IEnumerable<KudosDash.Models.Feedback>
@using KudosDash.Models.Users
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h1 class="text-primary text-center">Your Dashboard</h1>

        @if (!User.IsInRole("Admin"))
            {
            <h3>Feedback from your team!</h3>
            }
        <table class="table">
            <thead>
                <tr>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TargetUser)
                        </th>
                        }
                    <th>
                        @Html.DisplayNameFor(model => model.FeedbackDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FeedbackText)
                    </th>
                    @if (User.IsInRole("Manager"))
                        {
                        <th></th>
                        }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                    {
                    <tr>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                            {
                            <td>
                                @item.Author
                            </td>
                            <td>
                                @item.TargetUser
                            </td>
                            }
                        <td>
                            @item.FeedbackDate
                        </td>
                        <td>
                            @item.FeedbackText
                        </td>
                        @if (User.IsInRole("Manager"))
                            {
                            <td>
                                <form method="post">
                                    @if (@item.ManagerApproved == false)
                                        {
                                        <a class="btn btn-success" asp-action="ManagerApprove" asp-route-id="@item.Id">Approve</a>
                                        }
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </form>
                            </td>
                            }
                    </tr>
                    }
            </tbody>
        </table>
        @if (User.IsInRole("Team Member"))
            {
            <h3>Feedback you submitted!</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TargetUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackText)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.UserSubmittedFeedback)
                        {
                        <tr>
                            <td>
                                @item.TargetUser
                            </td>
                            <td>
                                @item.FeedbackDate
                            </td>
                            <td>
                                @item.FeedbackText
                            </td>
                            <td>
                                <form method="post">
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                </form>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            }
</div>
